<table>
  <tr>
    <td>年</td>
    <td>月</td>
    <td>月収</td>
    <td>手取り</td>
    <td>消費</td>
    <td>手残り</td>
    <td>削除</td>
  </tr>
   <% @index.each do |menegement| %>
  <tr>
    <td class = str><%= menegement.year %></td>
    <td class = strs><%= menegement.month %></td>
    <td class = strss><%= menegement.income %></td>
    <td class = strsss><%= menegement.takehome %></td>
    <td class = strssss><%= menegement.consumption %></td>
    <td class = strsssss><%= menegement.takehome - menegement.consumption %></td>
    <td><%= link_to '削除', index_path(menegement.id), method: :delete %></td>
  </tr>
 <% end %>
   <tr>
    <td></td>
    <td>合計</td>
    <td>Javascripts</td>
    <td>Javascripts</td>
    <td>Javascripts</td>
    <td>Javascripts</td>
    <td></td>
  </tr>
</table>
<%= render "form" %>

<div class = aaa>入力欄下</div>